@* En esta página se va a poder agregar un producto *@

@page "/agregarproducto"
@inject NavigationManager _navigationManager
@inject HttpClient _http

@* El modal se va a mostrar cuando le demos al botón de agregar y nos mostrará ya sea o que funcionó o que falló y si falló cuál es el error (no está el errro code, está el mensaje) *@
@if (mostrarModal)
{
    <div class="modal fade show d-block" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar producto</h5>
                </div>

                <div class="modal-body">
                    @if (!huboError)
                    {
                        <p>Producto agregado correctamente!</p>
                    } else
                    {
                        <p>@mensaje</p>
                    }

                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary"
                            @onclick="mostrarProductos">
                        Mostrar productos
                    </button>

                    @if (huboError)
                    {
                        <button class="btn btn-danger"
                                @onclick="ocultarModalAgregar">
                            Cerrar
                        </button>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show"></div>
}

@* Le presento el form para que agregue el producto *@
<EditForm Model="@producto" OnValidSubmit="postProducto">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="nombreProducto" class="form-label">Nombre del producto</label>
        <InputText id="nombreProducto"
                   class="form-control"
                   @bind-Value="producto.title" />
        <ValidationMessage For="@(() => producto.title)" />
    </div>

    <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <InputNumber id="precio"
                     class="form-control"
                     @bind-Value="producto.price" />
        <ValidationMessage For="@(() => producto.price)" />
    </div>

    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <InputTextArea id="descripcion"
                       class="form-control"
                       @bind-Value="producto.description" />
        <ValidationMessage For="@(() => producto.description)" />
    </div>

    <div class="mb-3">
        <label for="categoria" class="form-label">Categoría</label>
        <InputText id="categoria"
                   class="form-control"
                   @bind-Value="producto.category" />
        <ValidationMessage For="@(() => producto.category)" />
    </div>

    <div class="mb-3">
        <label for="imagen" class="form-label">URL de la imagen</label>
        <InputTextArea id="imagen"
                       class="form-control"
                       @bind-Value="producto.image" />
        <ValidationMessage For="@(() => producto.image)" />
    </div>

    <div class="mb-3">
        <label for="puntaje" class="form-label">Puntaje</label>
        <InputNumber id="puntaje"
                     class="form-control"
                     @bind-Value="producto.rating.rate" />
        <ValidationMessage For="@(() => producto.rating.rate)" />
    </div>

    <div class="mb-3">
        <label for="numeroResenas" class="form-label">Número de reseñas</label>
        <InputNumber id="numeroResenas"
                     class="form-control"
                     @bind-Value="producto.rating.count" />
        <ValidationMessage For="@(() => producto.rating.count)" />
    </div>

    <button class="btn btn-success mt-3" type="submit">
        Guardar cambios
    </button>

    <button class="btn btn-primary mt-3" @onclick="mostrarProductos">
        Mostrar todos los productos
    </button>
</EditForm>

@code {

    private string? mensaje;
    private bool huboError = false;
    private bool mostrarModal = false;
    private bool estaCargando = true;

    Producto? producto = new();

    private void mostrarProductos()
    {
        _navigationManager.NavigateTo("/listaProductos");
    }

    private async Task postProducto()
    {
        var response = await _http.PostAsJsonAsync($"produts", producto);

        try
        {
            response.EnsureSuccessStatusCode(); @* Si esto falla tira excepción que la catcheo luego *@
            huboError = false;
            mostrarModalAgregar();
        }
        catch (HttpRequestException ex)
        {
            mensaje = $"Hubo un error agregando el producto. Error código: {response.StatusCode}";
            mostrarModalAgregar();
            huboError = true;
        }
    }
    private void mostrarModalAgregar()
    {
        mostrarModal = true;
    }

    private void ocultarModalAgregar()
    {
        mostrarModal = false;
    }
}
