@page "/agregarproducto"
@inject NavigationManager _navigationManager
@inject HttpClient _http

<button class="btn btn-primary mb-3" @onclick="mostrarProductos">Mostrar todos los productos</button>

@if (huboError)
{
    <p>@mensaje</p>
}
<EditForm Model="@producto" OnValidSubmit="putProducto">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="nombreProducto" class="form-label">Nombre del producto</label>
        <InputText id="nombreProducto"
                   class="form-control"
                   @bind-Value="producto.title" />
        <ValidationMessage For="@(() => producto.title)" />
    </div>

    <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <InputNumber id="precio"
                     class="form-control"
                     @bind-Value="producto.price" />
        <ValidationMessage For="@(() => producto.price)" />
    </div>

    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <InputTextArea id="descripcion"
                       class="form-control"
                       @bind-Value="producto.description" />
        <ValidationMessage For="@(() => producto.description)" />
    </div>

    <div class="mb-3">
        <label for="categoria" class="form-label">Categoría</label>
        <InputText id="categoria"
                   class="form-control"
                   @bind-Value="producto.category" />
        <ValidationMessage For="@(() => producto.category)" />
    </div>

    <div class="mb-3">
        <label for="imagen" class="form-label">URL de la imagen</label>
        <InputTextArea id="imagen"
                       class="form-control"
                       @bind-Value="producto.image" />
        <ValidationMessage For="@(() => producto.image)" />
    </div>

    <div class="mb-3">
        <label for="puntaje" class="form-label">Puntaje</label>
        <InputNumber id="puntaje"
                     class="form-control"
                     @bind-Value="producto.rating.rate" />
        <ValidationMessage For="@(() => producto.rating.rate)" />
    </div>

    <div class="mb-3">
        <label for="numeroResenas" class="form-label">Número de reseñas</label>
        <InputNumber id="numeroResenas"
                     class="form-control"
                     @bind-Value="producto.rating.count" />
        <ValidationMessage For="@(() => producto.rating.count)" />
    </div>

    <button class="btn btn-success mt-3" type="submit">
        Guardar cambios
    </button>
</EditForm>

@code {

    private string? mensaje;
    private bool huboError = false;

    Producto? producto = new();

    private void mostrarProductos()
    {
        _navigationManager.NavigateTo("/listaProductos");
    }

    private async Task putProducto()
    {
        var response = await _http.PostAsJsonAsync($"products", producto);

        try
        {
            response.EnsureSuccessStatusCode();
            mostrarProductos();
            huboError = false;
        }
        catch (HttpRequestException ex)
        {
            mensaje = $"Hubo un error agregando el producto. Error código: {response.StatusCode}";
            huboError = true;
        }
    }
}
