@page "/listaProductos"
@inject HttpClient _http
@inject NavigationManager _navigationManager

@if (estaCargando)
{
    <p>Cargando la lista de productos...</p>
} else
{
    if (productos.Count == 0)
    {
        <p>No se encontraron productos.</p>
    } else
    {
        if(mostrarDetalles == false)
        {
            <div class="text-center">
                <button class="btn btn-success" @onclick="agregarProducto">Agregar producto</button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre del producto</th>
                        <th scope="col">Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Producto producto in productos)
                    {
                        <tr>
                            <td>@producto.title</td>
                            <td>
                                <img src="@producto.image" alt="Imagen del producto: @producto.title" width="100" height="100" />
                            </td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => detallesProducto(producto)">Detalles</button>
                                <button class="btn btn-danger" @onclick="() => eliminarProducto(producto.id)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        } else
        {
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" @onclick="cambiarEstado">Mostrar todos los productos</button>
                <button class="btn btn-primary" @onclick="() => modificarProducto(productoElegido.id)">Modificar el producto</button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Precio</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Puntaje de reseña</th>
                        <th scope="col">Número de reseñas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$@productoElegido.price</td>
                        <td>@productoElegido.description</td>
                        <td>@productoElegido.category</td>
                        <td>@productoElegido.rating.rate</td>
                        <td>@productoElegido.rating.count</td>
                    </tr>
                </tbody>
            </table>
        }
    }
}

@code {
    private List<Producto> productos = new();
    private bool estaCargando = true;
    private bool mostrarDetalles = false;
    private Producto productoElegido = new();

    protected override async Task OnInitializedAsync()
    {
        estaCargando = true;
        productos = await _http.GetFromJsonAsync<List<Producto>>("products");
        estaCargando = false;
    }

    private void cambiarEstado()
    {
        mostrarDetalles = !mostrarDetalles;
    }


    private void detallesProducto(Producto producto)
    {
        productoElegido = producto;
        cambiarEstado();
    }

    private void modificarProducto(int id)
    {
        _navigationManager.NavigateTo($"/modificarproducto/{id}");
    }

    private void agregarProducto()
    {
        try
        {
            _navigationManager.NavigateTo("/agregarproducto");
        } catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task eliminarProducto(int id)
    {
        var response = await _http.DeleteAsync($"products/{id}");
    }
}
