@* En esta página podremos modificar un producto que nos venga por parámetro. Se accederá a esta página a través del listado de productos. *@

@page "/modificarproducto/{Id:int}"
@inject HttpClient _http
@inject NavigationManager _navigationManager

@if (estaCargando)
{
    <p>Cargando el producto...</p>
}
else if (huboError)
{
    <p>@mensaje</p>
    @* Le permito irse si es que hubo un error *@
    <button class="btn btn-primary mt-3" @onclick="mostrarProductos">
        Mostrar todos los productos
    </button>
}
else if (producto is null)
{
    <p>No se pudo cargar el producto...</p>
    <button class="btn btn-secondary"
            @onclick="mostrarProductos">
        Mostrar productos
    </button>
}
else
{
    @* Luego de ya sea modificar o hacer el intento le muestro un modal donde se ven más detalles *@
    @if (mostrarModal)
    {
        <div class="modal fade show d-block" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modificar producto</h5>
                    </div>

                    <div class="modal-body">
                        @if (!huboError)
                        {
                            <p>Producto modificado correctamente!</p>
                        }
                        else
                        {
                            <p>@mensaje</p>
                        }

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary"
                                @onclick="mostrarProductos">
                            Mostrar productos
                        </button>

                        @if (huboError) @* Solo si falló la modificación le permito volver a modificar el producto. *@
                        {
                            <button class="btn btn-danger"
                            @onclick="ocultarModalModificar">
                                Cerrar
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-backdrop fade show"></div>
    }

    @* Le permito al usuario modificar el producto. *@
    <EditForm Model="@producto" OnValidSubmit="putProducto">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label class="form-label">Nombre del producto</label>
            <InputText class="form-control" @bind-Value="producto.title" />
            <ValidationMessage For="@(() => producto.title)" />
        </div>

        <div class="mb-3">
            <label class="form-label">Precio</label>
            <InputNumber class="form-control" @bind-Value="producto.price" />
            <ValidationMessage For="@(() => producto.price)" />
        </div>

        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <InputTextArea class="form-control" @bind-Value="producto.description" />
            <ValidationMessage For="@(() => producto.description)" />
        </div>

        <div class="mb-3">
            <label class="form-label">Categoría</label>
            <InputText class="form-control" @bind-Value="producto.category" />
            <ValidationMessage For="@(() => producto.category)" />
        </div>

        <div class="mb-3">
            <label class="form-label">URL de la imagen</label>
            <InputTextArea class="form-control" @bind-Value="producto.image" />
            <ValidationMessage For="@(() => producto.image)" />
        </div>

        <button class="btn btn-success mt-3" type="submit">
            Guardar cambios
        </button>
        <button class="btn btn-primary mt-3" @onclick="mostrarProductos">
            Mostrar todos los productos
        </button>
    </EditForm>
}


@code {
    [Parameter]
    public int? Id { get; set; }

    private bool estaCargando = true;
    private bool huboError = false;
    private bool mostrarModal = false;
    private string? mensaje;

    Producto? producto = new();

    @* Acá es donde busca en si el producto. No abro modal si esto da exception *@
    protected override async Task OnParametersSetAsync()
    {
        estaCargando = true;
        var response = await _http.GetAsync($"products/{Id}");
        try
        {
            response.EnsureSuccessStatusCode();
            producto = await response.Content.ReadFromJsonAsync<Producto>();
            huboError = false;
        }
        catch (HttpRequestException ex)
        {
            huboError = true;
            mensaje = $"Hubo un error recuperando el producto. Error código: {response.StatusCode}";
        }
        estaCargando = false;
    }

    private void mostrarProductos()
    {
        _navigationManager.NavigateTo("/listaProductos");
    }

    @* Acá es donde en sí actualiza el producto. Sí muestro el modal. *@
    private async Task putProducto()
    {
        var response = await _http.PutAsJsonAsync($"products/{Id}", producto);

        try
        {
            response.EnsureSuccessStatusCode();
            huboError = false;
            mostrarModalModificar();
        }
        catch(HttpRequestException ex)
        {

            mensaje = $"Hubo un error actualizando el producto. Error código: {response.StatusCode}";
            huboError = true;
            ocultarModalModificar();
        }
    }

    private void mostrarModalModificar()
    {
        mostrarModal = true;
    }

    private void ocultarModalModificar()
    {
        mostrarModal = false;
    }
}
